@charset "ISO-8859-1";

body {
background-color:#1e2124;
}

h1 {
text-align:center;
margin-top: 20px;
margin-bottom: 0px;
}

h3{
	margin-top: 0px;
	margin-bottom: 10px;
}

textarea{
	margin: 0px;
}
textarea:focus {
border: none;
overflow: auto;
outline: none;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.error {
	color:#DC143C;
	font-size: 14px;
}

.tb {
	background-color: #36393e;
	border: none;
	border-radius: 4px;
	display: inline-block;
}
.tb:focus{
border: none;
overflow: auto;
outline: none;
}
::placeholder {
   color: #A9A9A9;
}

.db{
	margin: 0px;
}

.locations{
	margin: 0px;
}

.startLocation{
	margin-bottom: 4px;
}

.dropbox{
	background-color: #36393e;
	border: none;
	border-radius: 4px;
	display: inline-block;
	margin-top: auto;
	min-width: 15ch;
	max-width: 30ch;
}
.dropbox:hover {
	cursor:pointer;
	transition: 0s;
}

.button {
background-color: #36393e;
border: none;
padding: 10px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
margin: 4px auto;
}
.button:hover {
background-color:#282b30;
transition: 0s;
cursor:pointer;
}
html * {
   color: #A9A9A9;
   font-family: Helvetica, sans-serif !important;
}
.wrapper {
    text-align: center;
}